 #web_bg {
   
    
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
 }
  body {
    background-color:#eacfbb;
  }
  #footer {
    background: #00000000;
  }
 